Birthdays with timestamp break on edit

### Problem scope

- [x] I'm sure that this is a DAVx⁵ problem.

### App version

- [x] I'm using the latest available DAVx⁵ version.

### Android version and device/firmware type

*

### Steps to reproduce

Some servers (afaik t-mobile), return the event dates for contacts (birthday, anniversary...) with time, not just date (we send them as `2013-11-06`, they are given by the server as `2013-11-06T00:00:00.000Z`).

This is supported by VCARD 3.0 ([RFC2426 Section 3.1.5](https://www.rfc-editor.org/rfc/rfc2426#section-3.1.5)) and VCARD 4.0 ([RFC6350 Section 6.2.5](https://www.rfc-editor.org/rfc/rfc6350#section-6.2.5)). However, it's not supported by some contacts app (Fossify Contacts for example. Supported by Google Contacts, Samsung Contacts, Blackberry Contacts and LineageOS contacts).

### Actual result

When a contact is created, everything works fine. However, when editing a contact that has been synchronized with the server (the date has time added), ezvcard breaks:
```
Couldn't parse birthday/anniversary date from database
java.lang.IllegalArgumentException: [Error 36] Could not parse date: 2013-11-06T00:00:00.000Z
 	at ezvcard.Messages.getIllegalArgumentException(Messages.java:84)
 	at ezvcard.util.PartialDate.parse(PartialDate.java:161)
 	at at.bitfire.vcard4android.contactrow.EventHandler.handle(EventHandler.kt:36)
 	at at.bitfire.vcard4android.contactrow.ContactProcessor.handleDataRow(ContactProcessor.kt:89)
 	at at.bitfire.vcard4android.AndroidContact.getContact(AndroidContact.kt:101)
 	at at.bitfire.davdroid.resource.LocalContact.getCachedGroupMemberships(LocalContact.kt:196)
 	at at.bitfire.davdroid.sync.groups.VCard4Strategy.beforeUploadDirty(VCard4Strategy.kt:34)
 	at at.bitfire.davdroid.sync.ContactsSyncManager.uploadDirty(ContactsSyncManager.kt:266)
 	at at.bitfire.davdroid.sync.SyncManager$performSync$2.invokeSuspend(SyncManager.kt:151)
 	at kotlin.coroutines.jvm.internal.BaseContinuationImpl.resumeWith(ContinuationImpl.kt:34)
 	at kotlinx.coroutines.DispatchedTask.run(DispatchedTask.kt:100)
 	at kotlinx.coroutines.internal.LimitedDispatcher$Worker.run(LimitedDispatcher.kt:124)
 	at kotlinx.coroutines.scheduling.TaskImpl.run(Tasks.kt:89)
 	at kotlinx.coroutines.scheduling.CoroutineScheduler.runSafely(CoroutineScheduler.kt:586)
 	at kotlinx.coroutines.scheduling.CoroutineScheduler$Worker.executeTask(CoroutineScheduler.kt:820)
 	at kotlinx.coroutines.scheduling.CoroutineScheduler$Worker.runWorker(CoroutineScheduler.kt:717)
 	at kotlinx.coroutines.scheduling.CoroutineScheduler$Worker.run(CoroutineScheduler.kt:704)
```

### Expected result

It should be handled correctly.

### Further info

_No response_

Just for completion - adding possibly related more recent tickets (without much useful info though):

https://bitfire-at.zammad.com/#ticket/zoom/13349
https://bitfire-at.zammad.com/#ticket/zoom/12503


Another ticket (Service: mail.de) – Support for Dates without a year:

https://bitfire-at.zammad.com/#ticket/zoom/14452